<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="https://api.mapy.cz/loader.js"></script>
        <script>Loader.load();</script>
    </head>
    <body id="radon_measurements">
      <div id="m" style="width:100vw; height:100vh"></div>
      <script type="text/javascript">
          var cervena = "https://api.mapy.cz/img/api/marker/drop-red.png";
		  var zluta = "https://api.mapy.cz/img/api/marker/drop-yellow.png";
		  var modra = "https://api.mapy.cz/img/api/marker/drop-blue.png";
          var m = new SMap(JAK.gel("m"));
          m.addControl(new SMap.Control.Sync());
          m.addDefaultLayer(SMap.DEF_BASE).enable();
          var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM);
          m.addControl(mouse);

          var znacky = [];
          var popisky = [];
          var souradnice = [];
          
			<% activity.each do |place, data| %>
					var c = SMap.Coords.fromWGS84(<%= data["lng"] %>, <%= data["lat"] %>);

					var options = {
					  url: <%= data["color"] %>,
					  title: "<%= place %>",
					  anchor: {
						left: 10,
						bottom: 1
					  }
					}

					var znacka = new SMap.Marker(c, null, options);
					
					var popisek = new SMap.Card();
					popisek.getHeader().innerHTML = "<strong><%= place %></strong>";
					popisek.getBody().innerHTML = "<%="Naměřená aktivita:"%> <%= data["val_av"] %> <br> <%="Datum měření:"%> <%= data["date"] %>";
					
					znacka.decorate(SMap.Marker.Feature.Card, popisek);
					souradnice.push(c);
					popisky.push(popisek);
					znacky.push(znacka);
			
            <% end %>

          var vrstva = new SMap.Layer.Marker();
          m.addLayer(vrstva);
          vrstva.enable();
          for (var i = 0; i < znacky.length; i++) {
            vrstva.addMarker(znacky[i]);
          }

          var cz = m.computeCenterZoom(souradnice);
          m.setCenterZoom(cz[0], cz[1]);
      </script>    

    </body>
</html>